.subscriber-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 16px;
  background: #7887ab;
  border-radius: 6px;
  margin-bottom: 12px;
  transition: 0.3s;

  &:hover {
    background: #769bdb;
  }
}

.subscribers {
  display: flex;
  justify-content: flex-end;
}

.subscribers-wrapper {
  width: 100%;
  max-width: 260px;
}

.follow_btn {
  margin-top: 8px;
  padding: 6px 12px;
  border-radius: 4px;
  border: none;
  background: #061539;
  border: 2px solid white;
  cursor: pointer;
  transition: 0.25s;
  color: white;

  &:hover {
    background: #4f628e;
    color: white;
  }
}
