<div class="post_container">
    <p>{{post.name}}</p>
    <img class="post_img" src="{{post.img}}">
    <div class="likes_container">
        <p>{{post.likes}}</p>
        <!-- LIKE BUTTONS -->
        <button class="like_btn" (click)="toggleLike(post)">
            @if (post.isLiked) {
            <img src="/img/heart-red.png" alt="Liked" />
            } @else {
            <img src="/img/heart-black.png" alt="Unliked" />
            }
        </button>
    </div>
    <!-- COMMENT -->
    <div class="comments">
        @for (comment of post.comments; track $index) {
        <li>{{ comment }}</li>
        }
    </div>

    <input type="text" [(ngModel)]="newComment" placeholder="Kommentieren">
    <button (click)="sendComment()" [disabled]="!newComment">Senden</button>

</div>